{% extends "base.html" %}
{% load static %}

{% block content %}

{% include 'partials/_messages.html' %}

<!-- HEADER -->
<div class="container mt-4">
    <div class="row align-items-center mb-4">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white text-dark rounded mb-2">
                    <li class="breadcrumb-item">
                        <a href="{% url 'incomes' %}">Incomes</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Summary
                    </li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2 text-md-right mb-2">
            <div class="selectBox">
                <select id="intervalSelect" class="form-control rounded">
                    {% for interval in intervals %}
                        <option value="{{ interval }}" {% if interval == "Year" %}selected{% endif %}>{{ interval }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <!-- Upper Half -->
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="bg-white rounded shadow-sm p-3 mb-4">
                <h3 class="text-center mb-3">Total by category</h3>
                <canvas id="total_chart" width="400" height="80"></canvas>
            </div>
        </div>
    </div>

    <!-- Lower Half -->
    <div class="row mt-4">
        <!-- Left Half -->
        <div class="col-md-6 mb-4">
            <div class="bg-white rounded shadow-sm p-3 mr-2">
                <h3 class="text-center mb-3">Averages over period</h3>
                <div class="table-responsive">
                    <table id="mean_table" class="table">
                        <!-- Table content will be dynamically generated -->
                    </table>
                </div>
            </div>
        </div>

        <!-- Right Half -->
        <div class="col-md-6 mb-4">
            <div class="bg-white rounded shadow-sm p-3 ml-2">
                <h3 class="text-center mb-3">Proportion by category</h3>
                <canvas id="share_chart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/incomes_summary.js' %}"></script>

{% endblock %}
