{% extends "base.html" %} {% block content %}
{% include "partials/_messages.html" %}
<div class="container mt-3">
  <h5>Preferred Currency</h5>

  <form action="{% url 'general-preferences' %}" method="post">
    {% csrf_token %}
    <div class="input-group">
      <select name="currency" class="custom-select" id="inputGroupSelect04">
        {% if user_preferences.currency %}
        <option selected value="{{ user_preferences.currency }}">
          {{ user_preferences.currency }}
        </option>
        {% endif %} {% for currency in currencies %}
        <option value="{{ currency.name }} - {{ currency.value }}">
          {{ currency.name }} - {{ currency.value }}
        </option>
        {% endfor %}
      </select>
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </div>
  </form>

  <h5>Rows per page</h5>

  <form action="{% url 'general-preferences' %}" method="post">
    {% csrf_token %}
    <div class="input-group">
      <select name="rows_per_page" class="custom-select" id="inputGroupSelect04">
        {% if user_preferences.rows_per_page %}
        <option selected value="{{ user_preferences.rows_per_page }}">
          {{ user_preferences.rows_per_page }}
        </option>
        {% endif %} {% for rows_per_page in rows_per_page_data %}
        <option value="{{ rows_per_page }}">
          {{ rows_per_page }}
        </option>
        {% endfor %}
      </select>
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </div>
  </form>






</div>
{% endblock %}
