{% extends "base.html" %} 
{% block content %} 
{% include 'partials/_messages.html' %}

<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'expenses' %}">Expenses</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            My Expenses
          </li>
        </ol>
      </nav>
    </div>
    <div class="col-md-2">
      <a href="{% url 'add-expenses' %}" class="btn btn-primary">Add Expense</a>
    </div>
  </div>

  <div class="container">
    {% if expenses.count %}

    <table class="table table-stripped table-hover">
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Description</th>
          <th>Category</th>
          <th>Account</th>
          <th>Amount (CURRENCY)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for expense in expenses %}
        <tr>
          <td>{{expense.owner}}</td>
          <td>{{ expense.date|date:"d/m/Y" }}</td>
          <td>{{ expense.description|slice:":50" }}{% if expense.description|length > 50 %}...{% endif %}</td>
          <td>{{expense.category}}</td>
          <td>{{expense.account}}</td>
          <td class="amount-cell">{{expense.amount}}</td>
          <td><a href="{% url 'edit-expense' expense.id %}" class="btn btn-secondary btn-sm">Edit</a>
            
          </td>
            
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>

{% endblock %}

